/* @import-normalize; */
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mate+SC&display=swap");

.root {
  width: 100%;
}

a:link {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  /* font-style: 'Regular 400'; */
  background-color: #fffafa;
}

.top {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  margin: 3.5em 1.5em 1.5em 1.5em;
  display: flex;
  justify-content: center;
}

.footer {
  flex: 0;
  align-self: center;
}

.main-page {
  display: flex;
  justify-content: space-around;
}

a:link:hover,
button:hover {
  cursor: pointer;
}

p {
  font-family: "Inter", sans-serif;
}
