/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mate+SC&display=swap');

a:link {
  text-decoration: none;
}

body{
    /* font-family: 'Inter', sans-serif; */
    /* font-style: 'Regular 400'; */
    background-color: #FFFAFA;
}

.top {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
}

.footer {
  flex: 0;
  align-self: center;
}

button{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
  background-color: aliceblue;
}
