@import "./application.css";
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mate+SC&display=swap");

.event-index {
  margin: 0 1em;
  height: 91vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.event-index-item {
  display: flex;
  flex-direction: column;
  background-color: rgb(249 240 224);
  border: 0.5px solid rgb(200, 200, 181) 234;
  margin: 0.5em 0;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  box-shadow: 0.5px 0.5px 0.5px 0.75px rgb(200, 200, 181) 234;
}

.event-index-item:hover {
  background-color: rgba(245, 184, 42, 0.897);
  transform: scale(1, 1);
  -webkit-transform: scale(1.01, 1.01);
  box-shadow: 1px 1px 1px 0.75px #ccc;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.event-item-content:hover {
  cursor: pointer;
}

.event-item-header {
  display: flex;
  align-items: center;
  padding-top: 0.25em;
  justify-content: space-between;
}

.event-item-footer {
  display: flex;
  padding: 0.5em 0;
}

.event-item-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.75em;
  width: 14char;
  border-radius: 0.5em;
  width: auto;
  padding: 0.75em;
  background-color: black;
  color: white;
  z-index: 2;
}

.event-item-button:hover {
  transform: scale(1, 1);
  -webkit-transform: scale(1.02, 1.02);
  box-shadow: 0px 0.5px 0px 0px rgb(218, 173, 91);
  transition: all 0.4s ease 0s;
}
/* 
.join-event {
  background-color
}
 */

.event-item-title {
  width: auto;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
  background-color: transparent;
  padding: 0;
}

p {
  font-family: "Inter", sans-serif;
}

.event-item-sport {
  font-size: 15px;
  font-weight: 300;
  /* font-style: oblique; */
}

.event-index-ul {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.event-index > h1 {
  font-weight: 600;
  margin-top: 1vmin;
}

.event-item-date {
  font-size: 12px;
  padding-top: 0.3vmax;
}

.unjoin-event {
  background-color: rgb(224 245 210);
  border: 1px solid rgb(102 102 102);
  color: rgb(81 141 84);
}
/* 
.unjoin-event {
  background-color: lightgray;
  border: 1px solid rgb(102 102 102);
  color: rgb(102 102 102)
} */

.event-show-modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fffafa;
  position: relative;
  border-radius: 10px;
  width: 550px;
  height: 650px;
}

.event-show-info {
  display: flex;
  flex-flow: column;
}

.event-show-info > h1 {
  align-self: center;
}

.event-show-info > p {
  padding: 0.1vmin;
}

.event-show-map {
  box-shadow: 0.5px 0.5px 0.5px 0.75px rgb(167, 167, 152) 234;
  border-radius: 5px;
}

.user-prof-events-container{
  display: flex;
  flex-flow: column;
  align-self: center;
  width: 50%;
  margin-top: 5vmin;
}

.user-prof-events{
  display: flex;
  flex-flow: column;
}

.user-prof-events-container > h1 {
  align-self: center;
  font-weight: 500;
  font-size: larger;
}