.footer {
  /* display: grid; */
  width: 100%;
  background-color: aquamarine;
  font-family: 'Inter', sans-serif;
  bottom: 0;
  position: fixed;
  /* padding: 1vmin; */
  font-size: 1vmax;
  z-index: 2;
  font-weight: 400;
}

.footer-content {
  max-width: 1000px;
  margin: 8px auto;
}

.footer-header {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

.ul-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
}

@media(max-width: 799px){
  .ul-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.footer-li {
  display: flex;
  flex-direction: column;
}

.link-logo {
  height: 20px;
  width: 20px;
}

.copyright {
  font-size: 10px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}