.main-page {
  display: flex;
  justify-content: space-around;
}

.main-page-events {
  flex-grow: 2;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-page-map {
  flex-grow: 1;
}

.event-map-container {
  width: 100%;
  margin-left: 1.5em;
}

.event-map-flex-container {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.terrible-css-practice {
  height: 1.5em;
}

.event-map-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 1;
  /* width: 65vw; */
  margin: 2.5em 0 0 0.5em;
}

.event-map-menu > * {
  margin: 0 0.25em;
  /* z-index: 0; */
}

.map-button-container {
  display: flex;
  align-items: center;
  border-radius: 13px;
  border: 1px solid rgba(246 241 224);
  padding: 0.1em 0.4em 0 0;
  background: rgba(254, 250, 250);
  max-height: 40px;
  box-shadow: 0 1px 4px 0 rgb(163, 163, 163);
}

.map-button-container:hover {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.05);
  transition: all 0.4s ease 0s;
}

.map-button-text {
  font-size: 14px;
}

.map-button {
  border: none;
  background-color: transparent;
  /* font-size: 3em; */
  border-radius: 50%;
  color: rgb(102 102 102);
  /* opacity: 50%; */
}
/* 
.map-button:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: all 0.4s ease 0s;
} */
