.main-page {
  display: flex;
  justify-content: space-around;
}

.main-page-events {
  flex-grow: 2;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: 3px 3px 3px 0.75px rgba(204, 204, 204, 0.294);
  z-index: 1;
  border-right: 0.5px solid lightgoldenrodyellow;
  margin-top: 1vmin;
}

.main-page-map {
  flex-grow: 1;
}

.event-map-container {
  width: 100vw;
}

.event-map-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  margin-left: 1em;
}

.terrible-css-practice {
  height: 1.5em;
}

.event-map-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding-right: 5em;
  margin: 2em 0 0 2em;
  width: inherit;
  flex-wrap: wrap;
}

.event-map-menu > * {
  margin: 0 0.5em;
}

.map-button-container {
  display: flex;
  align-items: center;
  border-radius: 13px;
  border: 1px solid rgba(246 241 224);
  padding: 0.1em 0.4em 0 0;
  background: rgba(254, 250, 250);
  box-shadow: 0 1px 4px 0 rgb(163, 163, 163);
  margin-top: 0.5em;
}

.map-button-container:hover {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.05);
  transition: all 0.4s ease 0s;
}

.map-button-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
}

.map-button-location:hover {
  color: rgb(2, 143, 2);
  font-weight: 800;
  transition: all 0.4s ease 0s;
}

.map-button.cancel-game {
  color: rgb(175, 3, 3);
}

.map-button-text {
  font-size: 14px;
}

.map-button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  color: rgb(102 102 102);
}

.info-window-title {
  padding: 0 4px 0 3px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 0.5px solid #696969;
  margin-bottom: 5px;
}

.info-window-title:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease 0s;
}

.event-marker:hover {
  transform: scale(1, 1);
  -webkit-transform: scale(1.01, 1.5);
  box-shadow: 1px 1px 1px 0.75px #ccc;
  transition: all 0.1s ease 0s;
  cursor: pointer;
}

.gm-ui-hover-effect {
  visibility: hidden;
}
