.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: all 0.4s ease 0s;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  top: -52px;
  right: 2px;
  cursor: pointer;
  padding: 9px 9px 7px 9px;
  color: white;
  text-align: center;
}

.close-x:hover {
  background-color: rgba(248, 248, 248, 0.164);
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}

.event-modal-container {
  display: flex;
  flex-direction: column;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 13px;
  font-weight: 550;
}

.login-form-header h1 {
  font-size: 20px;
  font-weight: 900;
}

.login-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-top: 4px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.login-input {
  margin-left: 1px;
  height: 45px;
  margin-top: 3px;
  width: 273px;
  border: 1.5px solid lightgrey;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.login-form-box {
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 30px;
  width: 288px;
  height: 388px;
}

.register-button {
  border-radius: 25px;
  border: 2px solid #000000;
  color: black;
  text-decoration: none;
  background: white;
  padding: 9px 9px 22px 9px;
  height: 36px;
  width: 75px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  text-align: center;
}

.register-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: rgba(236, 236, 236, 0.753);
  transition: all 0.4s ease 0s;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}

.login-form label {
  padding-top: 10px;
}

/* THE ABOVE IS COPY AND PASTE FROM WILL'S FSP */

.event-show-modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 10px;
  width: 550px;
  height: 650px;
}