@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500&display=swap");

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5vmin;
  // background-color: aquamarine;
  background-color: rgb(247 210 105);
  font-size: 1vmax;
  min-height: 55px;
  z-index: 3;
  color: black;
}

a:visited {
  color: black;
}

.Links1 {
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-right: 1.5vmin;
  padding-left: 1vmin;
}
.Links2 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1vmin;
  padding-right: 2vmin;
  font-family: "Mate SC", serif;
}

.Links1 > * {
  margin: 2vmin;
}

.Links2 > * {
  padding: 0.3vw;
}

.Links1,
.Links2 {
  font-family: "Bitter", serif;
  font-weight: 400;
}

#logout-button {
  margin-right: 1vmin;
  background-color: transparent;
}

#header-home-court-text {
  font-family: "Mate SC", serif;
  align-self: center;
}

#profile-link {
  align-self: center;
  padding-right: vmax;
  color: black;
}

#profile-link:hover {
  font-weight: 500;
  transition: all 0.2s ease 0s;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
.Links1 > button {
  border-radius: 5px;
  border-style: none;
  background-color: white;
  white-space: nowrap;
  margin: 1vmin;
  padding: 0.5vmin 1vmin;
  font-size: inherit;
  @include responsive-font(2vmin, 13px, 15px);
}

.no-limits {
  font-size: 3vw;
}

.limit-min {
  @include responsive-font(3vw, 20px);
}

.limit-min-max {
  @include responsive-font(1.75vmin, 20px, 30px);
  color: black;
}

.limit-min-max > * {
  @include responsive-font(1.8vmin, 14px, 16px);
}
