.login-form-container{
    align-self: center;
}

.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.login-form > input {
    margin: .5vmin;
    padding: 1vmin;
    width: 35vmin;
}