.session-form-container{
    align-self: center;
}

.session-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1vmax;
}

.session-form > * {
    margin: .5vmin;
    padding: 1vmin;
    width: 35vmin;
    align-self: center;
}
