.session-form-container{
    align-self: center;
    width: 100%;
    background: url(https://i.imgur.com/ZkilH1q.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.session-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1vmax;
}

.session-form > * {
    margin: .5vmin;
    padding: 1vmin;
    width: 35vmin;
    align-self: center;
}
