
.link-logo {
  display: flex;
  width: 45px;
  height: 45px;
}

.footer-header {
  font-size: 32px;
  font-weight: 500;
}

.team-role {
  font-size: 50px;
  font-weight: bold;
}

.team-members-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 75px;
}

.team-members {
  display: flex;
  justify-content: center;
  max-width: auto;
  margin: 8px auto;
}

.team-photo {
  width: auto;
  height: 300px;
  border-radius: 15px;
}

.member-name {
  font-size: 18px;
  font-style: italic;
}

@media(max-width: 1500px){
  .team-members-list  {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.team-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
}
