.link-logo {
  display: flex;
  width: 45px;
  height: 45px;
}

.team-page {
  flex: 1;
  background-color: rgb(255, 251, 244);
}

.team-members > h1 {
  font-size: 35px;
  padding: 35px 0;
}

.footer-header {
  font-size: 32px;
  font-weight: 500;
}

.team-role {
  font-size: 50px;
  font-weight: bold;
}

.team-members-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 75px;
}

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 8px auto;
}

.team-member {
  display: flex;
  flex-direction: column;
}

.team-photo {
  width: auto;
  height: 250px;
  border-radius: 15px;
}

.member-name {
  font-size: 18px;
  font-style: italic;
}

@media (max-width: 1500px) {
  .team-members-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.team-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  max-width: 350px;
}

.column-right {
  max-width: 50px;
}
