.address-type-ahead {
  list-style-type: none;
}

#address-input {
  border: 0.5px solid lightgoldenrodyellow;
  width: 35vmin;
  height: 15px;
  padding: 1vmin;
  margin: 0.5vmin;
  box-shadow: 0 1px 4px 0 rgb(163, 163, 163);
}

.address-type-ahead > li > span {
  font-family: "Inter", sans-serif;
}
