.address-type-ahead{
    list-style-type: none;
}

#address-input{
    width: 35vmin;
    padding: 1vmin;
    margin: .5vmin;
}

.address-type-ahead > li > span{ 
    font-family: 'Inter', sans-serif;
}